.header {
    min-height: 8rem;
    padding: 2rem 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    &__menu {
        display: flex;
        align-items:center;
        column-gap: 2rem;

    }
    &__link {
        text-transform: uppercase;
    }
    &__search {
        padding: 1.2rem;

        
    }
    &__basket {
        background-color: transparent;
        border: none;
        padding: 0;

    }
}

.logo {
    width: 7rem;
    aspect-ratio: 3/4;
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
